.errorMsg {
  display: inline-block;
  padding: 15px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
/* .errorMsg:empty {
  display: none;
} */

.finished {
  color: gray;
  text-decoration: line-through;
}
.pointer {
  cursor: pointer;
  font-size: 18px;
}
